body {
    background-color: rgb(28, 28, 201);
}    

h1 {
    color: aquamarine;
    text-align: center;
    border: 5px greenyellow;
}

h2 {
    color: darkgreen;
    text-align: center;
}

div {
    margin: 20px;
}