@media (min-width: 600px) {
    body {
        background-color: rgb(236, 128, 85);
    }    
}

@media (max-width: 599px) {
    body {
        background-color: rgb(64, 64, 148);
    }    
}

h1 {
    color: aquamarine;
    text-align: center;
    margin: 20px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1:hover {
    color: rgb(243, 63, 168);
    font-family: fantasy;
}

h2 {
    color: darkgreen;
    text-align: center;
    padding: 2px;
}
h2:hover {
    color: lightseagreen;
    font-family: cursive;
}

div {
    margin: 20px;
    border: 5 px saddlebrown;
    font-style: italic;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding: 4px;
}