body {
    background-color: rgb(236, 128, 85);
}    

h1 {
    color: aquamarine;
    text-align: center;
    margin: 20px;
    padding: 2px;
}

h2 {
    color: darkgreen;
    text-align: center;
    padding: 2px;
}

div {
    margin: 20px;
    border: 5 px saddlebrown;
    font-style: italic;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}